body{
	margin: 0;
	padding: 0;
}
/*header start*/
header{
	padding: 20px 0;
	background-color: #121B2A;
}
.container {
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/
	overflow: hidden;
}

.logo {
	width: 15%;
	/*border: 1px solid red;*/
	float: left;
}
.logo img{
	width: 100%;
}
.menu {
	margin-top: 25px;
	width: 85%;
	/*border: 1px solid red;*/
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	font-size:16px ;
	font-weight: 400;
	color: white;
	margin: 0 20px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid transparent;
	transition: .5s;
}
.menu ul li a:hover{
	color: #0078BD;
	border: 1px solid black;
}
.menu ul li:last-child a{
	padding-right: 0;
}
/*heaser end*/
/*banner start*/
.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 21px 18px rgba(0,0,0,1) inset;;
}
.wrapper{
	margin: 0px;
    width: 35%;
    color: white;
    padding-top: 200px;
    padding-bottom: 100px;
  /*  border: 1px solid red;*/
    letter-spacing: 1px;
    line-height: 32px;
}
.wrapper p:first-child{
	margin: 0px;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: capitalize;
	padding-top: 0px;
}
.wrapper h1{
	margin: 0px;
	font-family: sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #0076B8;
	text-transform: capitalize;
}
.wrapper p:nth-last-child(2) {
		margin: 0px;
}
.wrapper button{
	margin-top: 20px;
    padding: 10px 20px;
	font-size: 16px;
	color: #7F7F7F;
	text-transform: uppercase;
	background-color:white ;
	border:none;
	border-radius: 5px;
	cursor: pointer;
}
.wrapper button span{
	background-color: blue;
	padding: 4px 7px;
	border-radius: 50%;
	color: white;
	margin-left: 10px;
}
/*banner end*/
/*service start*/
.service {
	background-color: #121B2C;
	padding: 50px 0;
}

.single {
	width: 30%;
    border-right: 1px solid white;
    padding: 10px 10px;
    float: left;
    margin-right: 19px;
}
.single:last-child{
	border-right: none;
}

.title {
	overflow: hidden;
	margin-bottom: 20px;
	/*border: 1px solid red;*/
}

.icon {
	width: 22%;
	float: left;
	/*border: 1px solid red;*/
}
.icon img{
	width: 100%;

}
.icon_content {
	margin-top: 20px;
	width: 78%;
	float: left;
	/*border: 1px solid red;*/
}
.icon_content h1{
font-family: sans-serif;
font-size: 25px;
font-weight:400;
color:white ;
margin: 0;
text-transform: capitalize;

}
.icon_content h2{
float: left;
font-family: sans-serif;
font-size: 30px;
font-weight:400;
color:#0277BD ;
margin: 0;
text-transform: capitalize;
}
.content{

}
.content p{
	font-family: sans-serif;
    font-weight: 400;
	letter-spacing: 1px;
    font-size: 16px;
    color: white;
    line-height: 25px;
    word-spacing: 1px;
}

/*service end*/
/*work start*/
.work{
    padding: 50px 0 30px;
    background: #040811;
    color: #fff;
}
.container2{
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.src{
	margin: 1%;
    padding: 1%;
    width:29%;
    float: left;
   /* border: 1px solid red;*/
}
.src h1{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    font-family: sans-serif;
}
.src h1 span{
    color: #0073B5;
    font-family: sans-serif;
    font-size: 27px;
}
.src p{
    font-size: 14px;
    line-height: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.src ul{
	margin: 0;
	padding: 0;
}
.src ul li{
	font-size: 14px;
    color: #fff;
    list-style-type: none;
    line-height: 30px;
}
.src2{
	background-color: #0C1019;
	margin: 1%;
    padding: 1%;
    width:29%;
    float: left;
    /*border: 1px solid red;*/
}
.src2 h1{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    font-family: sans-serif;
}
.src2 h1 span{
    color: #0073B5;
    font-family: sans-serif;
    font-size: 27px;
}
.src2 p{
    font-size: 14px;
    line-height: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.src3{
	margin: 1%;
    padding: 1%;
    width:29%;
    float: left;
   /* border: 1px solid red;*/

}
.src3 img{
    width:38%;
    float: left;
    /*border: 1px solid red;*/
}
.app{
	width: 60%;
    float: right;
    /*border: 1px solid red;*/
}
.app h1{
	font-size:27px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    float: left;
    word-spacing: 1px;
}
.app h1 span{
	font-size: 27px;
    font-weight: 700;
    color: #0073B5
}
.app a img{
	margin-top: 10px;
    width: 100%;
}
/*work end*/
/*footer start*/
footer{
    background-color: #121B2C;
    overflow: hidden;
    padding: 30px 0;
}
.menu1{
	 width: 60%;
   /* border: 1px solid red;*/
    overflow: hidden;
    float: left;
}
.menu1 ul{
        float: right;
    margin: 0;
    padding: 0;
}

.menu1 ul li{
	    list-style: none;
    float: left;
}
.menu1 ul li a{
	font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin: 0 5px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    transition: .5s;
}
.menu1 ul li a:hover{
	color: #0078BD;
	border: 1px solid black;
}
.menu1 p{
	color: white;
	font-family: sans-serif;
	font-size: 18px;
    padding-left: 40px;
    padding-top: 40px;
    padding-left: 0px;
}
.last{
	float: right;
    width: 36%;
    /* border: 1px solid red; */

}
/*footer end*/